<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post App - Edit Post</title>
    <link rel="stylesheet" href="/Stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    
    <div class="min-w-screen min-h-screen bg-orange-200 flex flex-col items-center justify-center border-box ">
        <p class="text-[35px] font-[700] text-orange-700"> Edit the Post</p>
        <br>
        <div class="max-w-[35%] h-auto border-box p-7 rounded-lg bg-white shadow-[0px_0px_10px_3px_rgba(0,0,0,0.3)]">
           <form id="fields" method="post" action="/update/<%= post._id %>" class="w-full">
                <input type="text" name="title" placeholder="Enter title" class="input" value="<%= post.title %>">
                <textarea type="text" name="content" placeholder="Enter post content......" class="input resize-none h-[200px]" ><%= post.content %></textarea>
           </form>
            <button form="fields" class="rounded-lg text-white bg-orange-700 w-full p-4 my-5 active:scale-[0.95] transition-all linear duration-200" >Edit The Post</button>    
        </div>
        
    </div>
    
</body>
</html>