<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Board - Sign Up page</title>
    <link rel="stylesheet" href="/Stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="min-w-screen min-h-screen bg-orange-200 flex flex-col justify-center items-center ">
        <p class="text-[35px] font-[700] text-orange-700">Post Board - Sign Up</p>
        <br>
        <div class="max-w-[35%] h-auto border-box p-7 rounded-lg bg-white shadow-[0px_0px_10px_3px_rgba(0,0,0,0.3)]">
           <form id="fields" method="post" action="/register" class="w-full">
                <input type="text" name="name" placeholder="Enter name" class="input">
                <input type="text" name="email" placeholder="Enter email id" class="input">
                <input type="text" name="username" placeholder="Enter  user name" class="input">
                <input type="number" name="mobile" placeholder="Enter mobile number" class="input">
                <input type="password" name="password" placeholder="Enter password" class="input">
           </form>
            <button form="fields" class="rounded-lg text-white bg-orange-700 w-full p-4 my-5 active:scale-[0.95] transition-all linear duration-200" >Sign up</button>    
        </div>
        <br>
        <a href="/login" class="text-orange-600 font-bold  hover:scale-[1.05] transition-all linear duration-200">Press here to Log In</a>
    </div>
</body>
</html>